<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Task</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home_style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>

<body>
    <!-- Navigation Menu -->
    <nav class="navbar">
        <div class="logo">
            <h1>Plataforma de tareas</h1>
        </div>
        <ul class="nav-links">
            <a class="nav-link" href="/">
                <i class="fa fa-home" aria-hidden="true"></i>
                Inicio
            </a>
            {% if session %}
                <a class="nav-link" href="/tasks">
                    <i class="fa fa-tasks" aria-hidden="true"></i>
                    Mis tareas
                </a>
                <a class="nav-link" href="/logout">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                    Cerrar Sesión
                </a>
            {% else %}
                <a class="nav-link" href="/login">
                    <i class="fa fa-sign-in" aria-hidden="true"></i>
                    Inicia Sesión
                </a>
            {% endif %}
        </ul>
    </nav>

    <!-- Main Section -->
    <header class="hero-section">
        <div class="hero-content">
            <h2>Bienvenido a la plataforma de tareas</h2>
            <p>Tu viaje a la productividad inicia aquí</p>
            <a href="/register" class="hero-btn">¡Comencemos!</a>
        </div>
    </header>

    <!-- Footer -->
    <footer>
        <p>Estudiante: Eliana Chavez</p>
        <p>&copy; 2024 Task Platform. All Rights Reserved.</p>
    </footer>
</body>

</html>