<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro de Usuario</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/form_style.css')}}">
</head>

<body>

  <body>
    <div class="container">
      <div class="login-box">
        <h2>Crea tu cuenta</h2>
        <form action="/user" method="post">
          <div class="input-box">
            <label for="name">Nombre:</label>
            <input type="text" id="name" name="name" placeholder="Ingresa tu nombre" required>
          </div>
          <div class="input-box">
            <label for="lastname">Apellido:</label>
            <input type="text" id="lastname" name="lastname" placeholder="Ingresa tu apellido" required>
          </div>
          <div class="input-box">
            <label for="email">Correo electrónico</label>
            <input type="email" id="email" name="email" required placeholder="Ingresa tu correo">
          </div>
          <div class="input-box">
            <label for="password">Contraseña</label>
            <input type="password" id="password" name="password" required placeholder="Ingresa tu contraseña">
          </div>
          <div class="input-box">
            <label for="password">Confirma Contraseña</label>
            <input type="password" id="password_confirmation" name="password_confirmation" required placeholder="Ingresa tu contraseña">
          </div>
          {% if message %}
          <div class="alert" id="alert">
            <button class="close-btn" onclick="closeAlert()">×</button>
            <p>{{ message }}</p>
          </div>
          {% endif %}
          <div class="button-box">
            <button type="submit">Registrate</button>
          </div>
        </form>

        <div class="register-link">
          <p>¿Ya tienes una cuenta? <a href="/login">Inicia sesión aquí</a></p>
        </div>
      </div>
    </div>
  </body>

</body>

</html>