* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  background-color: #e0f7f9;
  color: #333;
  height: 100vh;
  position: relative;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #00cccc;
  color: #fff;
  position: absolute;
  top: 0;
  width: 100%;
}

.logo h1 {
  font-size: 24px;
  color: #fff;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-link i {
  margin-right: 5px
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  transition: color 0.3s;
  display: block;
  margin-left: 20px;
}

.nav-links a:hover {
  color: #005f5f;
}

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  background-color: #ffffff;
}

.hero-content {
  max-width: 600px;
}

.hero-content h2 {
  font-size: 36px;
  color: #005f5f;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 18px;
  color: #333;
  margin-bottom: 30px;
}

.hero-btn {
  background-color: #00cccc;
  color: #fff;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s;
}

.hero-btn:hover {
  background-color: #009999;
}

footer {
  display: flex;
  align-items:center;
  justify-content:space-around;
  background-color: #00cccc;
  text-align: center;
  padding: 15px;
  color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
}
